NEXT_PUBLIC_ENV=development

NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_RPC_URL=https://base-mainnet.rpc

NEXT_PUBLIC_BACKEND_URL=https://api.example.com
NEXT_PUBLIC_AI_URL=https://ai.example.com

NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_ANALYTICS_ID=
