NEXT_PUBLIC_ENV=production

NEXT_PUBLIC_CHAIN_ID=80002
NEXT_PUBLIC_RPC_URL=https://polygon-amoy.g.alchemy.com/v2/__ALCHEMY_API_KEY__

NEXT_PUBLIC_BACKEND_URL=https://api.moltmarket.com
NEXT_PUBLIC_AI_URL=https://ai.moltmarket.com

NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_ANALYTICS_ID=
